@{
	Layout = "/_Master.cshtml";
	
	ViewData[Keys.Title] = "Package - " + Model.String(Keys.GroupKey);
}

@section Infobar {	
}

@section Sidebar {    
    @Html.Partial("_PackageSidebar")
}

<section class="content-header">
	<h1>@Model.String(Keys.GroupKey)</h1>
</section>
<section class="content">    
    @Html.Partial("_PackageList", Model.DocumentList(Keys.GroupDocuments))    
    @RenderBody()
</section>